flask
flask-login
flask-sqlalchemy
flask-limiter
flask-cors
flask-wtf
apscheduler
pillow
reportlab
openpyxl
waitress
psycopg2-binary
redis
flask-session
flask-caching
minio
bcrypt
python-dotenv
flask-socketio
gunicorn
psycopg[binary]>=3.2,<4
